body{
	/**
	min-width: 800px;
	min-height: 500px;**/
}

#top-bar{
	background:#FCFCFC;
	border-bottom: 2px solid rgba(0,0,0,0.05);
}

#principal{
	padding: 10px;
	min-height: 600px;
	margin:10px;
	border:0px;
	
}

#title{
	color: #5a85a1;
	padding: 10px;
	margin-top: 40px;
	text-align: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 20% 100%;
	background-position: left top;
}

#title a{
	color: #5a85a1;
	text-decoration: none;
}


#search{
	padding: 20px;
	margin-bottom: 10px;
}


#content{

}

#videoscontainer{
	position: relative;
	text-align: center;
	padding-bottom: 20px;
	min-height: 500px;
	padding-left: 20px;
	padding-right: 20px;
}



#bottompanel{
	font-size: 13px;
	padding: 10px;
}

#paginacion{
	display: block;
	width: 100%;
	float: right;
}


#txtinput-custom{
	margin-bottom: 0px;
	width: 500px;
}